.left-container, .right-container {
  margin-top: 20px;
}
label {
  font-weight: normal;
}
.captcha-text {
  font-size: 9px;
}
.btn-create-account {
  padding-top: 40px;
}
.btn-create-account button {
  width: 100%;
}
.btn-login {
  padding: 10px 0;
  width: 100%;
}
.btn-login button {
  padding-left: 50px;
  padding-right: 50px;
}
.img-block {
  padding: 20px 0;
}
.login-text {
  font-size: 14px;
}