/*
 * Licensed Materials - Property of IBM
 * 
 * Copyright IBM Corporation 2012. All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or disclosure 
 * restricted by GSA ADP Schedule Contract with IBM Corp.
 */

/* Over-riding OOTB font sizes */
#content div div {
	font: 14px arial !important;
}

.button-alignment {text-align =right;
	
}

body.soria {
	font-size: 14px;
}

element {
	
}

.soria .fileUpload {
	height: auto;
}

.soria input {
	height: 15px;
}

body * {
	line-height: 1.22em;
}

select, input, textarea {
	font: 99% arial, helvetica, clean, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0px;
	padding: 0px;
}

.soria div.cluster table td {
	text-align: left;
	word-wrap: break-word;
	white-space: normal;
}

.soria div.cluster table {
	font-size: 100%;
}

table {
	font-size: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

.soria div.cluster {
	font-size: 100%;
}

.soria div#content {
	font-size: 100%;
}

.soria #content {
	font-size: 100%;
}

div#sidebar, div#content, div#header, div#footer {
	font-size: 85%;
}

div#sidebar, div#content, div#header, div#footer {
	font-size: 92%;
}

body {
	font: 13px arial, helvetica, clean, sans-serif;
}

body {
	font-family: Verdana;
}

.page-header .page-title-bar {
	background-image: url("") !important;
}

.page-header .page-title-bar .title {
	margin-left: 0px !important;
}

.submitresponse {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

#Curam_HealthCare_submitApplicationResponse div#content {
	height: 92.5%;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#Curam_HealthCare_submitApplicationResponse div div div h1 {
	font-size: 18px;
	color: rgb(243, 144, 2);
}

#Curam_HealthCare_submitApplicationResponse div#content div div div p {
	font: 18px arial !important;
}

#Curam_HealthCare_submitApplicationResponse div#content div div table tbody tr th
	{
	text-align: right;
	font-size: 16px;
}

#Curam_HealthCare_submitApplicationResponse div#content div div table tbody tr td
	{
	font-size: 16px;
}

/*#Curam_HealthCare_submitApplicationResponse .collapse{
	color: rgb(0, 0, 0);
	font: 28px arial !important;
	font-weight: bold;
}*/
#Curam_HealthCare_submitApplicationResponse div#content div#page-action-set-.action-set.blue-action-set.left
	{
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
	padding-left: 65px;
}

#Curam_HealthCare_submitApplicationResponse .first-col .last-col .top div div table tbody tr th
	{
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
}

#Curam_HealthCare_submitApplicationResponse .first-col .last-col .top div div table tbody tr td
	{
	font-weight: bold;
}

#Curam_HealthCare_submitApplicationResponse div#content div div {
	font: 26px arial !important;
}

#Curam_HealthCare_submitApplicationResponse div#content span.grouptoggleArrow
	{
	display: none;
}

#Curam_HealthCare_submitApplicationResponse div#content div.cluster div.header-wrapper h2
	{
	border-width: none;
	border-style: none;
	border-color: none;
}

/* Life Events Start*/
#Curam_IndividualLifeEvents_ConfirmationSummary div.cluster table th.label
	{
	color: #010000;
	font-size: 16px
}

#Curam_EmployeeLifeEvents_ConfirmationSummary div.cluster table th.label
	{
	color: #010000;
	font-size: 16px
}

#Curam_IndividualLifeEvents_ConfirmationSummary div#content {
	font-size: 16px
}

#Curam_EmployeeLifeEvents_ConfirmationSummary div#content {
	font-size: 16px
}
/* Life Events End*/

/* Renewals Start */
#Curam_EmployeeRenewalShop_ConfirmationSummary div#content {
	height: 87%;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	overflow-y: scroll;
	overflow-x: scroll;
}

#Curam_EmployeeRenewalShop_ConfirmationSummary div.cluster div.header-wrapper h3.collapse,
	#Curam_EmployeeRenewalShop_ConfirmationSummary div.cluster div.header-wrapper h3,
	#Curam_EmployeeRenewalShop_ConfirmationSummary div.list div.header-wrapper h3,
	#Curam_EmployeeRenewalShop_ConfirmationSummary div.list div.header-wrapper h3.collapse,
	#Curam_EmployeeRenewalShop_ConfirmationSummary div.cluster table td.field div.header-wrapper h3,
	#Curam_EmployeeRenewalShop_ConfirmationSummary div.list table td.field div.header-wrapper h3
	{
	border: none;
	background-color: white;
	color: #000000;
	background-position: center right;
	background-repeat: no-repeat;
	width: 100%;
	display: inline-block;
	margin-top: 12px;
	border-bottom: 1px solid #DDDDDD;
}

#Curam_EmployeeRenewalShop_ConfirmationSummary .page-title-bar {
	background-color: #ffffff;
	background-image: url("../images/page-panel-title-bar.png");
	background-repeat: repeat-x;
	border-bottom: 1px solid #CAD7E9;
	padding: 0px 0px;
	width: 100%;
	margin-right: none;
	position: relative;
	height: 50px;
}

#Curam_EmployeeRenewalShop_ConfirmationSummary .page-title-bar .title h2
	{
	color: #FF9101;
	font-size: 18px
}

/*Renewals End */

/* For Find Assistance submit response*/
#Curam_HealthCare_findAssistenceResponse div#content {
	height: 92.5%;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#Curam_HealthCare_findAssistenceResponse div div div h1 {
	font-size: 18px;
	color: rgb(243, 144, 2);
}

#Curam_HealthCare_findAssistenceResponse div#content div div div p {
	font: 18px arial !important;
}

#Curam_HealthCare_findAssistenceResponse div#content div div table tbody tr th
	{
	text-align: right;
	font-size: 16px;
}

#Curam_HealthCare_findAssistenceResponse div#content div div table tbody tr td
	{
	font-size: 16px;
}

/*#Curam_HealthCare_findAssistenceResponse .collapse{
	color: rgb(0, 0, 0);
	font: 28px arial !important;
	font-weight: bold;
}*/
#Curam_HealthCare_findAssistenceResponse div#content div#page-action-set-.action-set.blue-action-set.left
	{
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
	padding-left: 65px;
}

#Curam_HealthCare_findAssistenceResponse .first-col .last-col .top div div table tbody tr th
	{
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
}

#Curam_HealthCare_findAssistenceResponse .first-col .last-col .top div div table tbody tr td
	{
	font-weight: bold;
}

#Curam_HealthCare_findAssistenceResponse div#content div div {
	font: 26px arial !important;
}

#Curam_HealthCare_findAssistenceResponse div#content span.grouptoggleArrow
	{
	display: none;
}

#Curam_HealthCare_findAssistenceResponse div#content div.cluster div.header-wrapper h2
	{
	border-width: none;
	border-style: none;
	border-color: none;
}

#Curam_StandardUser_searchApplication div#page-action-set- .submit {
	height: 30px;
	width: 110px;
}

#Curam_HealthCare_submitPresumptiveApplicationResponse div#content {
	height: 92.5%;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*#Curam_HealthCare_findAssistenceResponse div#content .last-cell{
	padding-left: 30px !important;
}*/
.cw-title-pane .cw-title-pane-help, .cw-title-pane .cw-title-pane-show-div,
	.cw-title-pane .cw-title-pane-hide-div {
	float: left !important;
}

.cw-title-pane .dcas-cw-title-pane-link-div {
	cursor: pointer;
	float: right;
	overflow: visible;
}

.cw-eligibility-result .cw-program .cw-program-left .cw-program-title .cw-program-title-text h2
	{
	display: inline;
	vertical-align: middle;
	text-transform: none;
	font-size: 13px;
	line-height: 1.22em;
}

.hcrSelectMembers .hcrSelectMembersTitle {
	text-transform: none;
	margin-bottom: 0px;
}

/* Landing page CSS*/
.LandingPageTitleDetail table {
	font-weight: bold;
}

.LandingPage {
	display: table-cell;
	border-style: solid;
	border-width: 2px;
	border-color: #F0F0F0;
	background-color: #F5F5F5;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#Curam_CitizenAccount_home #content .menupanel-div,
	#Curam_StandardUser_home #content .menupanel-div {
	background-color: #F5F5F5;
	margin: 0px;
	padding: 0px;
}

#Curam_CitizenAccount_home #content .menupanel-div .menupanel-title-span,
	#Curam_StandardUser_home #content .menupanel-div .menupanel-title-span
	{
	display: none;
}

#Curam_CitizenAccount_home #content .menupanel-link-div,
	#Curam_StandardUser_home #content .menupanel-link-div {
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-repeat: no-repeat;
	background-position: left center;
}

#Curam_CitizenAccount_home #content .menupanel-div .menupanel-link,
	#Curam_StandardUser_home #content .menupanel-div .menupanel-link {
	padding: 15px;
	font-size: 14px;
}

#Curam_CitizenAccount_home #content .menupanel-link-description,
	#Curam_StandardUser_home #content .menupanel-link-description {
	display: block;
	font-size: 14px;
	color: #256EB8;
}

.LandingPage .container {
	font-weight: medium;
	font-size: 22px;
}

#content>div.cluster.cluster-with-no-header.label-field.LandingPage>div>table>tbody>tr:nth-child(2)>td>div>div>table>tbody>tr>td.field.left
	{
	text-align: justify;
	width: 100%;
	left: 20px;
}

#content>div.cluster.cluster-with-no-header.label-field.LandingPage>div>table>tbody>tr:nth-child(1)>td>span>img
	{
	width: 42px;
	position: relative;
	top: 10px;
	left: -15px;
}

.LandingPageStart a {
	display: block;
	width: 50%;
	height: 100%;
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
	background: #CF2900;
	border-style: solid;
	border-width: 2px;
	border-color: #CF2900;
}

.LandingPageResume a {
	display: block;
	width: 85%;
	height: 100%;
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	background: #F5F5F5;
	font-weight: bold;
	border-style: solid;
	border-width: 2px;
	border-color: #256EB8;
}

.LandingPageResume a:link {
	text-decoration: none;
	color: #256EB8;
}

.LandingPageResume a:visited {
	text-decoration: none;
	color: #256EB8;
}

.LandingPageResume a:hover {
	text-decoration: underline;
	color: #256EB8;
}

.LandingPageResume a:active {
	text-decoration: none;
	color: #256EB8;
}

.LandingPageButtonBar .container img {
	position: relative;
	height: 26px;
	top: 6px;
	left: -10px;
}

.LandingPageButtonBar .container {
	display: table-cell;
	border-style: solid;
	border-color: #F0F0F0;
	border-width: 3px;
	padding: 5px;
	height: 40px;
	text-align: center;
	font-weight: bold;
}

.LandingPageButtonBar .separator {
	visibility: hidden;
}

.LandingPageStart a:link {
	text-decoration: none;
	color: #FFFFFF;
}

.LandingPageStart a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.LandingPageStart a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

.LandingPageStart a:active {
	text-decoration: none;
	color: #FFFFFF;
}

.LandingPageButtonBar a:link {
	text-decoration: none;
	color: #000000;
}

.LandingPageButtonBar a:visited {
	text-decoration: none;
	color: #000000;
}

.LandingPageButtonBar a:hover {
	text-decoration: underline;
	color: #000000;
}

.LandingPageButtonBar a:active {
	text-decoration: none;
	color: #000000;
}

#Curam_WaitDeferredProgress div#content {
	height: 92.5%;
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#Curam_WaitDeferredProgress div div div h1 {
	font-size: 18px;
	color: rgb(243, 144, 2);
}

#Curam_WaitDeferredProgress div#content div div div p {
	font: 18px arial !important;
}

#Curam_WaitDeferredProgress div#content div div table tbody tr th {
	text-align: right;
	font-size: 16px;
}

#Curam_WaitDeferredProgress div#content div div table tbody tr td {
	font-size: 16px;
}

#Curam_WaitDeferredProgress .page-header div {
	visibility: hidden;
}

#Curam_WaitDeferredProgress div#content div#page-action-set-.action-set.blue-action-set.left
	{
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
	padding-left: 65px;
}

#Curam_WaitDeferredProgress .first-col .last-col .top div div table tbody tr th
	{
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
}

#Curam_WaitDeferredProgress .first-col .last-col .top div div table tbody tr td
	{
	font-weight: bold;
}

#Curam_WaitDeferredProgress div#content div div {
	font: 26px arial !important;
}

#Curam_WaitDeferredProgress div#content span.grouptoggleArrow {
	display: none;
}

#Curam_WaitDeferredProgress div#content div.cluster div.header-wrapper h2
	{
	border-width: none;
	border-style: none;
	border-color: none;
}
#background-panel .hcrSelectMembers_bailout {
	padding:15px;
	text-align:center;
	background-color: #FFF;
	color: #000000;
	font-weight:bold;
	width: 97%;
	height: 160px;
	border: 1px solid #CCE0EE;
}
#background-panel .hcrSelectMembers .hcrSelectMembersDescription_bailout {
    font: 12px Tahoma;
	color:#000000;
	text-align:left;
	padding:5px 0px;
}

#Curam_CitizenAccount_home #content .menupanel-link-div, #Curam_StandardUser_home #content .menupanel-link-div {
	padding: 10px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: left center;
}

#Curam_CitizenAccount_home #content .menupanel-div .menupanel-link, #Curam_StandardUser_home #content .menupanel-div .menupanel-link{
	padding-left: 0px;
	font-weight: bold;
    font-size: 14px;
}