.hcr-ieg-page-text {
    font-family: Arial;
    font-size: 12px;
    color: #666666;
    border-top: 1px dashed #cccccc;
    border-bottom: 1px dashed #cccccc;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-image: url('../Images/info_icon.png');
    background-repeat: no-repeat;
    background-position: 5px 13px;
}  

.hcr-ieg-page-text p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}  

.hcr-ieg-required {
    color: orange;
    font-family: Arial;
    font-size: 11px;
    text-align: right;
}

.hcr-ieg-help-icon {
    background: url("../servlet/resource?r=help_arrow") no-repeat scroll left top transparent;
}

.hcr-ieg-summary-divider {
    background-color: #057BA9;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 18px;
    margin-left: -3px;
    margin-right: -4px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.hcr-ieg-breaker-outer {
    background-image: url("../Images/breaker-background-repeat.png");
    background-position: left top;
    background-repeat: repeat-x;
    font-family: Arial;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.hcr-ieg-breaker-top {
    background-color: #057BA9;
    color: #FFFFFF;
    font-size: 26px;
    padding-bottom: 5px;
    padding-left: 335px;
    padding-top: 5px;
}

.hcr-ieg-breaker-inner {

}

.hcr-ieg-breaker-left {
    float: left;
    height: 330px;
    padding-top: 5px;
    width: 300px;
}

.hcr-ieg-breaker-right {
    left: 0;
    padding-left: 335px;
    padding-top: 30px;
    position: relative;
    right: 0;
}


.hcr-ieg-breaker-h2 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 25px;
}

.hcr-ieg-breaker-h2-first {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.hcr-ieg-breaker-text, .hcr-ieg-breaker-bullet {
    color: #222222;
    font-size: 14px;
    margin-bottom: 8px;
}

.hcr-ieg-breaker-bullet {
    background-image: url("../Images/BreakerPages/bullet_point.png");
    background-position: left 6px;
    background-repeat: no-repeat;
    padding-left: 17px;
}




div.cluster {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    font-family: Arial;
    margin-bottom: 8px;
    margin-top: 7px;
}




