body.soria.high-contrast .dijitTabContainer #app-sections-container-dc_tablist .dijitTabListWrapper .nowrapSecTabStrip .dijitTab.block-slope {
background-image:url("../images/high-contrast/application-tabs-slope.png");
border-left:1px solid #99B6D8;
}
body.high-contrast #app-banner .right-box .left-cell {
font-weight:bold;
}
body.soria.high-contrast #app-root-container-dc {
background:url("../images/high-contrast/app_bg.png") repeat-x scroll 0 0 #d9e7f7;
}
body.high-contrast #app-banner .left-box .title, #app-banner .left-box .subtitle {
font-weight:bold;
}
body.high-contrast a.application-search-anchor {
background-image:url("../images/high-contrast/global_search_nor.png");
}
body.high-contrast a.application-search-anchor:hover {
background-image:url("../images/high-contrast/global_search_roll.png");
}
body.high-contrast a.application-search-anchor:active {
background-image:url("../images/high-contrast/global_search_click.png");
}
body.high-contrast div.application-search input,
body.soria.high-contrast table.dijit span.dijitReset,
body.high-contrast .dijitTextBox .dijitInputField .dijitPlaceHolder {
color:#575757;
}
body.high-contrast .application-search .dijitTextBox,
body.high-contrast .application-search .dijitButtonNode {
border:1px solid #225b90 !important;
}
body.high-contrast div.application-search div.search-input-controls table.dijit td.dijitArrowButton {
border-left:none !important;
}
body.soria.high-contrast .dijitSelect .dijitButtonContents {
border-right:none !important;
}
.soria.high-contrast .app-sections-container .dijitTabInnerDiv,
.soria.high-contrast .app-sections-container .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .app-sections-container .dijitTab.first,
.soria.high-contrast .app-sections-container .dijitTabChecked.first,
.soria.high-contrast .app-sections-container .dijitTabHover.first,
.soria.high-contrast .app-sections-container .dijitTabHover.dijitTabChecked.first,
.soria.high-contrast .app-sections-container .dijitTab {
background-image:url("../images/high-contrast/sectionTabContainerSprite.png");
}
.soria.high-contrast .app-sections-container .block-slope {
background-image:url("../images/high-contrast/application-tabs-slope.png");
}
.soria.high-contrast .app-sections-container .dijitTabInnerDiv,
.soria.high-contrast .app-sections-container .dijitTab,
.soria.high-contrast .app-sections-container .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .app-sections-container .dijitTab.first,
.soria.high-contrast .app-sections-container .dijitTabChecked.first,
.soria.high-contrast .app-sections-container .dijitTabHover.first,
.soria.high-contrast .app-sections-container .dijitTabHover.dijitTabChecked.first {
background-image:url("../images/high-contrast/sectionTabContainerSprite.png");
}
.soria.high-contrast .app-sections-container .block-slope {
background-image:url("../images/high-contrast/application-tabs-slope.png");
}
.soria.high-contrast .appTabContainer .dijitTabInnerDiv,
.soria.high-contrast .appTabContainer .dijitTab,
.soria.high-contrast .appTabContainer .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .appTabContainer .dijitTabHover,
.soria.high-contrast .appTabContainer .dijitTabHover .dijitTabInnerDiv,
.soria.high-contrast .appTabContainer .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .appTabContainer .dijitTabChecked,
.soria.high-contrast .appTabContainer .dijitTabChecked .dijitTabInnerDiv,
.soria.high-contrast .appTabContainer .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
background-image:url("../images/high-contrast/applicationTabContainerSprite.png");
}
.soria.high-contrast .navigation-bar-tabs .dijitTabInnerDiv,
.soria.high-contrast .navigation-bar-tabs .dijitTab,
.soria.high-contrast .navigation-bar-tabs .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .navigation-bar-tabs .dijitTabHover,
.soria.high-contrast .navigation-bar-tabs .dijitTabHover .dijitTabInnerDiv,
.soria.high-contrast .navigation-bar-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .navigation-bar-tabs .dijitTabChecked,
.soria.high-contrast .navigation-bar-tabs .dijitTabChecked .dijitTabInnerDiv,
.soria.high-contrast .navigation-bar-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
background-image:url("../images/high-contrast/navigationTabContainerSprite.png");
}
.soria.high-contrast .in-page-nav-tabContainer .dijitTabInnerDiv,
.soria.high-contrast .in-page-nav-tabContainer .dijitTab,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabHover,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabHover .dijitTabInnerDiv,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabHover .dijitTabInnerDiv .dijitTabContent,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabChecked,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabChecked .dijitTabInnerDiv,
.soria.high-contrast .in-page-nav-tabContainer .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
background-image:url("../images/high-contrast/inPageNavTabContainerSprite.png");
}
.soria.high-contrast .app-sections-container .dijitTab,
.soria.high-contrast .in-page-nav-tabContainer .dijitTab,
body.soria.high-contrast .in-page-nav-tabContainer .dijitTabContainerTop-tabs {
border-color:#575757;
}
.soria.high-contrast .app-sections-container .dijitTabChecked {
border-color:#dfe9f6;
}
.soria.high-contrast .navigation-bar-tabs .dijitTabChecked {
border-color:white;
}
.soria.high-contrast .appTabContainer .dijitTabChecked .dijitTabCloseButton,
.soria.high-contrast .appTabContainer .dijitTabCloseButton,
.soria.high-contrast .dijitTabCloseButtonHover,
.soria.high-contrast .dijitTabStripIcon {
background-image:url("../images/high-contrast/spriteRoundedIconsSmall.png");
}
body.soria.high-contrast .appTabContainer .dijitTabContainerTop-tabs {
border-bottom:1px solid #575757;
}
body.soria.high-contrast .appTabContainer .nav-panel .navigation-tab-outer .navigation-tab .dijitTabContainer .dijitTabContainerTop-tabs {
border-color:#575757;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitButtonText {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") 0px -17px repeat;
color:#173B5E;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitButtonNode {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") 0 0px no-repeat;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitLeft {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") right -34px no-repeat;
}
body.soria.high-contrast .dijit.dijitDropDownButtonHover .dijitButtonNode,
body.soria.high-contrast .detailsPanelTitleBar .dijit.dijitDropDownButton.dijitDropDownButtonHoverFocused .dijitButtonNode {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") 0 -51px no-repeat;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonHover .dijitButtonText,
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButton.dijitDropDownButtonHoverFocused .dijitButtonText {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") 0 -68px repeat;
color:white;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonHover.dijitLeft,
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButton.dijitDropDownButtonHoverFocused.dijitLeft {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") right -85px no-repeat;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonActive .dijitButtonNode {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") 0 -102px no-repeat;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonActive .dijitButtonText {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") 0px -119px repeat;
}
body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonActive.dijitLeft {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") right -136px no-repeat;
}
.dj_ie7 body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonActive.dijitLeft,
.dj_ie9 body.soria.high-contrast .detailsPanelTitleBar .dijitDropDownButtonActive.dijitLeft {
background:url("../../soria/images/high-contrast/applicationTabActionsMenuHC.png") right -136px no-repeat;
}
body.high-contrast div#content .action-set .middle-disabled,
body.high-contrast div#modal-actions-panel .action-set .middle-disabled {
color:black;
}
body.high-contrast .page-level-menu .disabled-link {
background-image:url("../images/high-contrast/page_action_disabled.png");
}
body.high-contrast span.disabled-link {
color:#575757;
}
body.high-contrast div.pagination-gui-container li.pagination-control-list-item.disabled a.pagination-link {
visibility:hidden;
}
body.high-contrast div.list table tr.even-last-row td.last-field,
body.high-contrast .list table tr.even-last-row td.field.last-field,
body.high-contrast .list table tr.even-last-row td.actioncol.last-field,
body.high-contrast .list table tr.even-last-row td.condition.last-field,
body.high-contrast .list table tr.even-last-row td.container.last-field {
background-image:url("../images/high-contrast/list-bottom-even-corners.png");
}
body.high-contrast .transfer-list .controls .allRight {
background-image:url("../images/high-contrast/transferlist_arrow_RDB.png");
}
body.high-contrast .transfer-list .controls .toRight {
background-image:url("../images/high-contrast/transferlist_arrow_RSB.png");
}
body.high-contrast .transfer-list .controls .toLeft {
background-image:url("../images/high-contrast/transferlist_arrow_LSB.png");
}
body.high-contrast .transfer-list .controls .allLeft {
background-image:url("../images/high-contrast/transferlist_arrow_LDB.png");
}
body.high-contrast .transfer-list .controls .allRight.active {
background-image:url("../images/high-contrast/transferlist_arrow_RDO.png");
}
body.high-contrast .transfer-list .controls .toRight.active {
background-image:url("../images/high-contrast/transferlist_arrow_RSO.png");
}
body.high-contrast .transfer-list .controls .toLeft.active {
background-image:url("../images/high-contrast/transferlist_arrow_LSO.png");
}
body.high-contrast .transfer-list .controls .allLeft.active {
background-image:url("../images/high-contrast/transferlist_arrow_LDO.png");
}
body.high-contrast .orgNavFrame .dijitTreeNodeSelected .dijitTreeExpandoClosed {
background-image:url("../images/high-contrast/tree_plus_click.png") ;
}
body.high-contrast .orgNavFrame .dijitTreeExpandoOpened {
background-image:url("../images/high-contrast/tree_minus.png");
}
body.high-contrast .orgNavFrame .dijitTreeExpandoClosed {
background-image:url("../images/high-contrast/tree_plus.png");
}
body.high-contrast .orgNavFrame .dijitTreeNodeSelected .dijitTreeExpandoOpened {
background-image:url("../images/high-contrast/tree_minus_click.png");
}
body.soria.high-contrast div.cluster div.header-wrapper h3.collapse,
body.soria.high-contrast div.cluster div.header-wrapper h3,
body.soria.high-contrast div.list div.header-wrapper h3,
body.soria.high-contrast div.list div.header-wrapper h3.collapse,
body.soria.high-contrast div.cluster table td.field div.header-wrapper h3,
body.soria.high-contrast div.list table td.field div.header-wrapper h3{
color:#922d0b;
border-color:#575757;
}
body.soria.high-contrast .list-row-menu .dijitButtonNode {
background-image:url("../images/high-contrast/actions_list_nor.png");
}
body.soria.high-contrast .list-row-menu .dijitDropDownButtonHover .dijitButtonNode {
background-image:transparent url('../images/high-contrast/actions_list_roll.png');
}
body.soria.high-contrast .list-row-menu .dijitDropDownButtonOpened .dijitButtonNode {
background-image:transparent url('../images/high-contrast/actions_list_sel.png');
}
body.soria.high-contrast div.cluster table td.label {
color:#575757;
}
body.soria.high-contrast div.cluster div.header-wrapper .collapse .grouptoggleArrow,
body.soria.high-contrast div.cluster div.header-wrapper .collapse .grouptoggleArrow,
body.soria.high-contrast div.list div.header-wrapper .collapse .grouptoggleArrow,
body.soria.high-contrast div.cluster table td.field div.header-wrapper .collapse .grouptoggleArrow,
body.soria.high-contrast div.list table td.field div.header-wrapper .collapse .grouptoggleArrow {
background-image:url("../images/high-contrast/expanded-arrow.png");
}
body.soria.high-contrast div.cluster.is-collapsed div.header-wrapper .grouptoggleArrow,
body.soria.high-contrast div.cluster.is-collapsed div.header-wrapper .grouptoggleArrow,
body.soria.high-contrast div.list.is-collapsed div.header-wrapper .grouptoggleArrow,
body.soria.high-contrast div.cluster.is-collapsed table td.field div.header-wrapper .grouptoggleArrow,
body.soria.high-contrast div.list.is-collapsed table td.field div.header-wrapper .grouptoggleArrow {
background-image:url("../images/high-contrast/collapsed-arrow.png");
}
body.soria.high-contrast div.list tr.even td {
background-color:#ebf0f5;
}
body.soria.high-contrast div.list table td {
border-bottom-color:#575757;
}
body.soria.high-contrast .navigation-tab .child-nav li.selected {
background-image:url("../images/high-contrast/side-nav-sel.png");
}
body.soria.high-contrast .navigation-tab .child-nav li {
background-image:url("../images/high-contrast/side-nav-nor.png");
}
body.soria.high-contrast div.list table tr.even-last-row td.first-field,
body.soria.high-contrast div.list table tr.even-last-row td.field.first-field,
body.soria.high-contrast div.list table tr.even-last-row td.actioncol.first-field,
body.soria.high-contrast div.list table tr.even-last-row td.condition.first-field,
body.soria.high-contrast div.list table tr.even-last-row td.container.first-field {
background:url("../images/high-contrast/list-bottom-even-corners.png") no-repeat scroll left bottom #F0F3F7;
}
body.high-contrast .mandatory-icon-help {
color:black;
}
body.soria.high-contrast .mandatory-label {
background-image:url("../images/high-contrast/mandatory.gif");
}
body.high-contrast .navigation-tab .child-nav li {
background-image:url("../images/high-contrast/side-nav-nor.png");
}
body.high-contrast a.help {
background-image:url("../images/high-contrast/help_nor.png");
}
body.high-contrast a.help:hover {
background-image:url("../images/high-contrast/help_roll.png");
}
body.high-contrast a.help:active {
background-image:url("../images/high-contrast/help_click.png");
}
body.high-contrast a.print {
background-image:url("../images/high-contrast/print_nor.png");
}
body.high-contrast a.print:hover {
background-image:url("../images/high-contrast/print_roll.png");
}
body.high-contrast a.print:active {
background-image:url("../images/high-contrast/print_click.png");
}
body.high-contrast a.refresh {
background-image:url("../images/high-contrast/refresh_nor.png");
}
body.high-contrast a.refresh:hover {
background-image:url("../images/high-contrast/refresh_roll.png");
}
body.high-contrast a.refresh:active {
background-image:url("../images/high-contrast/refresh_click.png");
}
body.soria.high-contrast .page-level-menu .dijitButtonNode {
background-image:url("../images/high-contrast/actions_page_nor.png");
}
body.soria.high-contrast .page-level-menu .dijitDropDownButtonHover .dijitButtonNode {
background-image:transparent url('../images/high-contrast/actions_page_rol.png');
}
body.soria.high-contrast .page-level-menu .dijitDropDownButtonOpened .dijitButtonNode {
background-image:transparent url('../images/high-contrast/actions_page_sel.png');
}
body.list-inline-page.soria.high-contrast div#content,
body.details.high-contrast div#content div.cluster,
body.details.high-contrast div#content div.list {
border-left:1px solid #575757;
border-right:1px solid #575757;
}
body.list-inline-page.high-contrast .top .center,
body.details.high-contrast .top .center {
border-top:1px solid #575757;
}
body.list-inline-page.high-contrast .bottom .center,
body.details.high-contrast .bottom .center {
border-bottom:1px solid #575757;
}
body.list-inline-page.high-contrast .top .left {
background-image:url("../images/high-contrast/inner-expanded-even-row-corners.png");
}
body.list-inline-page.high-contrast .top .right {
background-image:url("../images/high-contrast/inner-expanded-even-row-corners.png");
}
body.list-inline-page.high-contrast .bottom .left {
background-image:url("../images/high-contrast/inner-expanded-even-row-corners.png");
}
body.list-inline-page.high-contrast .bottom .right {
background-image:url("../images/high-contrast/inner-expanded-even-row-corners.png");
}
body.details.high-contrast .bottom .left {
background-image:url("../images/high-contrast/details-cluster-corners.png");
}
body.soria.high-contrast div.list table td a.list-details-row-toggle {
background-image:url("../images/high-contrast/list-row-collapsed.png");
}
body.soria.high-contrast div.list table td a.list-details-row-toggle.expanded {
background-image:url("../images/high-contrast/list-row-expanded.png");
}
body.details.high-contrast .bottom .center .right {
background-image:url("../images/high-contrast/details-cluster-corners.png");
}
body.details.high-contrast .top .left {
background-image:url("../images/high-contrast/details-cluster-corners.png");
}
body.details.high-contrast .top .center .right {
background-image:url("../images/high-contrast/details-cluster-corners.png");
}
body.soria.high-contrast .detailsPanel-bc .detailsPanelTitleBar .detailsTitleArrowButton {
background-image:url("../images/high-contrast/arrow_blu_down.png");
}
body.soria.high-contrast .detailsPanel-bc .detailsPanelTitleBar .detailsTitleArrowButton.collapsed {
background-image:url("../images/high-contrast/arrow_blu_left.png");
}
body.soria.high-contrast .page-level-menu a:first-child {
background-image:url("../images/high-contrast/page_action1_nor.png");
}
body.soria.high-contrast .page-level-menu a:first-child:hover {
background-image:url("../images/high-contrast/page_action1_roll.png");
}
body.soria.high-contrast .page-level-menu a:first-child:active {
background-image:url("../images/high-contrast/page_action1_click.png");
}
body.soria.high-contrast .page-level-menu a {
background-image:url("../images/high-contrast/page_action2_nor.png");
}
body.soria.high-contrast .page-level-menu a:hover {
background-image:url("../images/high-contrast/page_action2_roll.png");
}
body.soria.high-contrast .page-level-menu a:active {
background-image:url("../images/high-contrast/page_action2_click.png");
}
body.basic.high-contrast div#content .action-set.blue-action-set .left-corner,
body.basic.high-contrast div#content .action-set.blue-action-set .right-corner {
background-image:url("../images/high-contrast/cp-action-control-corners.png");
}
body.basic.high-contrast div#content .action-set.blue-action-set .middle {
background-image:url("../images/high-contrast/cp-action-control.png");
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover,
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover.dijitAccordionTitle-last {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") repeat-x scroll 0 -84px;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover span.dijitAccordionArrow,
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover.dijitAccordionTitle-last span.dijitAccordionArrow {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") no-repeat scroll 0 -63px;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover img,
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover.dijitAccordionTitle-last img {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") no-repeat scroll 0 -105px;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleSelected.dijitAccordionTitleHover.dijitAccordionTitle-last span.dijitAccordionArrow,
body.soria.high-contrast .shortcuts-panel div.dijitAccordionTitleSelected.dijitAccordionTitleHover span.dijitAccordionArrow,
body.soria.high-contrast .shortcuts-panel .dijitAccordionTitleSelected span.dijitAccordionArrow {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") no-repeat scroll 0 0px;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleSelected.dijitAccordionTitleHover.dijitAccordionTitle-last img,
body.soria.high-contrast .shortcuts-panel div.dijitAccordionTitleSelected.dijitAccordionTitleHover img,
body.soria.high-contrast .shortcuts-panel div.dijitAccordionTitleSelected img {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") no-repeat scroll 0 -42px;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleSelected.dijitAccordionTitleHover.dijitAccordionTitle-last,
body.soria.high-contrast .shortcuts-panel div.dijitAccordionTitleSelected.dijitAccordionTitleHover,
body.soria.high-contrast .shortcuts-panel div.dijitAccordionTitleSelected.dijitSelected {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") repeat-x scroll 0 -21px !important;
}
body.soria.high-contrast .shortcuts-panel .dijitAccordionTitle {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") repeat-x scroll 0 -147px;
}
body.soria.high-contrast .shortcuts-panel .dijitAccordionTitle .dijitAccordionArrow {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") no-repeat scroll 0 -126px;
}
body.soria.high-contrast .shortcuts-panel .dijitAccordionTitle img {
background:url("../../soria/images/high-contrast/shortcutPanelHC.png") no-repeat scroll 0 -168px;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoTitle {
background-image:url("../../soria/images/high-contrast/SP-expand-header.png") !important;
}
body.soria.high-contrast .dojoxExpandoClosed .dojoxExpandoTitle {
background-image:url("../../soria/images/high-contrast/SP-expand-header.png") !important;
}
body.soria.high-contrast .shortcuts-panel.dojoxExpandoClosed .dojoxExpandoIconLeft,
body.soria.high-contrast .smart-panel .dojoxExpandoIconRight {
background-image:url("../../soria/images/high-contrast/shortcutPanelExpandIcon.png") !important;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoIconLeft,
body.soria.high-contrast .outer-navigation-tab .dojoxExpandoClosed .dojoxExpandoIconRight {
background-image:url("../../soria/images/high-contrast/shortcutPanelExpandIcon.png") !important;
}
body.soria.high-contrast .shortcuts-panel.dojoxExpandoClosed .dojoxExpandoTitleNode,
body.soria.high-contrast .navigation-tab-outer .dojoxExpandoClosed .dojoxExpandoTitleNode {
color:#005291 !important;
}
body.soria.high-contrast .shortcuts-panel .dojoxExpandoTitleNode,
body.soria.high-contrast .smart-panel .dojoxExpandoTitleNode {
color:white;
}
body.soria.high-contrast .outer-navigation-tab .smart-panel .dojoxExpandoTitle {
background:url("../../soria/images/high-contrast/SP-expand-header.png") repeat-x !important;
}
body.high-contrast #wizard-progress-bar-crumbs li.current span.num {
background-image:url("../images/high-contrast/wizard_progress_bar_circ_orange.png");
}
body.high-contrast #wizard-progress-bar-crumbs li.current span.txt {
background-image:url("../images/high-contrast/wizard_progress_bar_arrow_current.png");
color:black;
}
body.high-contrast #wizard-progress-bar-crumbs li.todo span.num {
background-image:url("../images/high-contrast/wizard_progress_bar_circ_blue.png");
}
body.high-contrast #wizard-progress-bar-crumbs li.todo span.txt {
background-image:url("../images/high-contrast/wizard_progress_bar_arrow_todo.png");
color:#383838;
}
body.high-contrast #wizard-progress-bar-crumbs li.visited span.num, #wizard-progress-bar-crumbs li.last-visited span.num {
background-image:url("../images/high-contrast/wizard_progress_bar_circ_darkblue.png");
}
body.high-contrast #wizard-progress-bar-crumbs li.last-visited span.txt {
background-image:url("../images/high-contrast/wizard_progress_bar_arrow_last-visited.png");
color:#404040;
}
body.high-contrast #wizard-progress-bar-page-desc span.title {
color:black;
font-weight:bold;
}
body.high-contrast #wizard-progress-bar-page-desc span.desc {
color:black;
font-weight:normal;
}
body.modal.high-contrast div.actions-panel {
background-image:url("../images/high-contrast/modal-button-wrapper.png");
}
body.soria.high-contrast div.dijitDialogTitleBar {
background:url("../images/high-contrast/modal-title-background.png") repeat-x scroll 0 0 #CFE0F3;
}
body.soria.high-contrast .dijitDialogTitleBar .dijitDialogHelpIcon {
background-image:url("../images/high-contrast/modal-help-nor.png");
}
body.soria.high-contrast .dijitDialogTitleBar .dijitDialogHelpIcon-hover {
background-image:url("../images/high-contrast/modal-help-roll.png");
}
body.soria.high-contrast .dojoMoveItem .dijitDialogTitleBar .dijitDialogHelpIcon-hover {
background-image:url("../images/high-contrast/modal-help-click.png");
}
body.soria.high-contrast span.dijitDialogCloseIcon {
background-image:url('../images/high-contrast/modal-exit-nor.png');
}
body.soria.high-contrast span.dijitDialogCloseIcon.dijitDialogCloseIcon-hover {
background-image:url('../images/high-contrast/modal-exit-roll.png');
}
body.soria.high-contrast .dojoMoveItem span.dijitDialogCloseIcon.dijitDialogCloseIcon-hover {
background-image:url('../images/high-contrast/modal-exit-click.png');
}
body.modal.high-contrast .action-set .left-corner {
background-image:url("../images/high-contrast/action-control-corners.png");
}
body.modal.high-contrast .action-set .right-corner {
background-image:url("../images/high-contrast/action-control-corners.png");
}
body.modal.high-contrast .action-set .middle {
background-image:url("../images/high-contrast/action-control-background.png");
}
body.soria.high-contrast .calendar .calendar-menu li.today a {
background-image:url("../images/high-contrast/go_to_today.png");
}
body.soria.high-contrast .calendar .calendar-menu li.today a:hover {
background-image:url("../images/high-contrast/go_to_today_roll.png");
}
body.soria.high-contrast .calendar .calendar-menu li.day a {
background-image:url("../images/high-contrast/day.png");
}
body.soria.high-contrast .calendar .calendar-menu li.day a:hover {
background-image:url("../images/high-contrast/day_roll.png");
}
body.soria.high-contrast .calendar .calendar-menu li.week a {
background-image:url("../images/high-contrast/week.png");
}
body.soria.high-contrast .calendar .calendar-menu li.week a:hover {
background-image:url("../images/high-contrast/week_roll.png");
}
body.soria.high-contrast .calendar .calendar-menu li.month a {
background-image:url("../images/high-contrast/month.png");
}
body.soria.high-contrast .calendar .calendar-menu li.month a:hover {
background-image:url("../images/high-contrast/month_roll.png");
}
body.soria.high-contrast .calendar .calendar-menu li.date a {
background-image:url("../images/high-contrast/go_to_day.png");
}
body.soria.high-contrast .calendar .calendar-menu li.date a:hover {
background-image:url("../images/high-contrast/go_to_date_roll.png");
}
body.soria.high-contrast .calendar .calendar-menu li.date .popup-actions a {
background-image:none;
}
body.soria.high-contrast .calendar .dateBar {
background-image:url("../images/high-contrast/calendar-day-bar.PNG");
}
body.soria.high-contrast .calendar .calendar-menu {
background-image:url("../images/high-contrast/calendar-menu-gradient.PNG");
}
body.soria.high-contrast .calendar .week-view td .cell-caption {
background-image:url("../images/high-contrast/calendar-week-heading-normal-bg-repeat.png");
}
body.soria.high-contrast .cluster .calendar tr td.current-month-selected {
background-image:url("../images/high-contrast/calendar-current-day-bg-repeat.png");
background-repeat:repeat;
}
#Curam_date-selector.high-contrast .calendar .calendar-value a.current-date {
background-image:url("../images/high-contrast/date-selector-date-selected.png");
color:black;
}
#Curam_date-selector.high-contrast .calendar .calendar-value a.today {
background-image:url("../images/high-contrast/date-selector-date-current.png");
color:black;
}
#Curam_date-selector.high-contrast .calendar .calendar-value a:hover {
background-image:url("../images/high-contrast/date-selector-date-rollover.png");
color:black;
}
#Curam_date-selector.high-contrast .calendar td.day {
color:black;
}
body.soria.high-contrast .popup-field img {
padding-right:1px;
}
.soria.high-contrast .codetable .dijitButtonNode {
background:#FFFFFF url("../../soria/images/high-contrast/curamFilterSelectButton.png") no-repeat scroll top left;
}
body.soria.high-contrast .codetable .dijitArrowButtonInner{
background:url("../../soria/images/high-contrast/spriteArrows.png") 1px 2px no-repeat;
}
.soria.high-contrast .codetable .dijitButtonHover .dijitButtonNode,
.soria.high-contrast .codetable .dijitButtonNodeHover,
.soria.high-contrast .codetable .dijitToggleButtonHover .dijitButtonNode,
.soria.high-contrast .codetable .dijitDropDownButtonHover .dijitButtonNode,
.soria.high-contrast .codetable .dijitButtonContentsHover,
.soria.high-contrast .codetable .dijitUpArrowButtonHover,
.soria.high-contrast .codetable .dijitDownArrowButtonHover {
background:#FFFFFF url("../../soria/images/high-contrast/curamFilterSelectButton.png") no-repeat 0px -17px;
}
.soria.high-contrast .codetable .dijitButtonActive .dijitButtonNode,
.soria.high-contrast .codetable .dijitToggleButtonActive .dijitButtonNode,
.soria.high-contrast .codetable .dijitDropDownButtonActive .dijitButtonNode,
.soria.high-contrast .codetable .dijitComboButtonActive .dijitButtonContents,
.soria.high-contrast .codetable .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
background:#ffffff url("../../soria/images/high-contrast/curamFilterSelectButton.png") 0px -34px no-repeat;
}
.soria.high-contrast .codetable .dijitUpArrowButtonActive,
.soria.high-contrast .codetable .dijitDownArrowButtonActive {
background:#ffffff url("../../soria/images/high-contrast/curamFilterSelectButton.png") 0px -34px no-repeat;
}
body.soria.high-contrast .codetable .dijitButtonNode {
border:none !important;
}
body.soria.high-contrast div.info-msg {
background-image:url("../images/high-contrast/warning_icon.png");
}
body.soria.high-contrast div.error-msg {
background-image:url("../images/high-contrast/icon_error_modal.png");
}
body.details.high-contrast .cluster .top .left,
body.details.high-contrast .cluster .top .center .right {
background:none;
}
body.details.high-contrast div.cluster div.cluster ,
body.details.list-inline-page.high-contrast .top .center,
body.details.high-contrast .cluster .top .center {
border:none !important;
}