body.soria.mobile {
font-family:Arial, sans-serif !important;
font-size:75%;
}
.mobile .refresh,
.mobile .print,
.mobile .help {
display:block;
height:30px;
width:30px;
float:left;
margin-right:7px;
cursor:pointer;
text-decoration:none;
}
.mobile .refresh,
.mobile a.refresh:hover {
background:url(../images/page_toolbar_refresh_norm.png) no-repeat;
}
.mobile .print,
.mobile a.print:hover {
background:url(../images/page_toolbar_print_normal.png) no-repeat;
}
.mobile .help,
.mobile a.help:hover {
background:url(../images/page_toolbar_help_normal.png) no-repeat;
}
.mobile .refresh.disabled,
.mobile a.refresh.disabled:hover {
background:url(../images/page_toolbar_refresh_disabled.png) no-repeat;
}
.mobile a.refresh:active {
background:url(../images/page_toolbar_refresh_click.png) no-repeat;
}
.mobile a.print.selected {
background:url(../images/page_toolbar_print_click.png) no-repeat;
}
.mobile a.help.selected {
background:url(../images/page_toolbar_help_click.png) no-repeat;
}
.mobile .page-toolbar {
height:34px;
}
.mobile .page-title-bar {
height:36px;
}
.basic.mobile .title-exists {
top:37px;
}
.basic.mobile .title-exists.desc-exists {
top:57px;
}
.mobile .page-title-bar .title {
padding-top:9px;
right:111px;
}
.mobile .page-title-bar .page-level-menu {
right:130px;
padding-top:0px;
}
.mobile .page-level-menu a {
margin-top:9px;
}
.mobile .page-level-menu .dijitButtonNode {
background:transparent url('../images/actions-page-nor.png') no-repeat left top;
height:30px;
width:30px;
}
.mobile .page-level-menu .dijitDropDownButtonHover .dijitButtonNode {
background:transparent url('../images/actions-page-nor.png') no-repeat left top;
}
.mobile .dijitDialogTitleBar .dijitDialogHelpIcon,
.mobile .dijitDialogTitleBar .dijitDialogHelpIcon-hover {
background-image:url("../images/modal-help-nor.png");
height:30px;
right:46px;
top:2px;
width:30px;
}
.mobile span.dijitDialogCloseIcon,
.mobile span.dijitDialogCloseIcon.dijitDialogCloseIcon-hover {
background-image:url('../images/modal-exit-nor.png');
height:30px;
width:30px;
margin-top:-2px;
right:8px;
}
.mobile .dojoMoveItem span.dijitDialogCloseIcon.dijitDialogCloseIcon-hover {
background-image:url('../images/modal-exit-click.png');
}
.mobile .dojoMoveItem .dijitDialogTitleBar .dijitDialogHelpIcon-hover {
background-image:url("../images/modal-help-click.png");
}
.mobile .dijitDialog span.dijitDialogTitle {
margin-top:10px;
}
.mobile div.dijitDialogTitleBar {
height:34px !important;
}
body.modal.mobile div.title-exists.desc-exists,
body.modal.mobile div.desc-exists {
top:20px;
}
body#Curam_date-selector .calendar td,
body#Curam_date-selector .calendar th {
padding:7px 7px !important;
}
body.mobile .appTabContainer .dijitTab {
background:url("../images/applicationTabContainerSprite.png") no-repeat scroll 0 -90px transparent;
}
body.mobile .appTabContainer .dijitTabInnerDiv {
background:url("../images/applicationTabContainerSprite.png") no-repeat scroll right -150px transparent;
}
body.mobile .appTabContainer .dijitTabInnerDiv .dijitTabContent {
background:url("../images/applicationTabContainerSprite.png") repeat-x scroll 0 -120px transparent;
}
body.mobile .appTabContainer .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
background:url("../images/applicationTabContainerSprite.png") repeat-x scroll 0 -120px transparent;
}
body.mobile .appTabContainer .dijitTabHover .dijitTabInnerDiv {
background:url("../images/applicationTabContainerSprite.png") no-repeat scroll right -150px transparent;
}
body.mobile .appTabContainer .dijitTabChecked {
background:url("../images/applicationTabContainerSprite.png") no-repeat scroll 0 0 transparent;
}
body.mobile .appTabContainer .dijitTabChecked .dijitTabInnerDiv {
background:url("../images/applicationTabContainerSprite.png") no-repeat scroll right -60px transparent;
}
body.mobile .appTabContainer .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
background:url("../images/applicationTabContainerSprite.png") repeat-x scroll 0 -30px transparent;
}
body.mobile .appTabContainer .dijitTabInnerDiv .dijitTabContent {
padding:5px 3px 6px 0;
}
body.mobile .appTabContainer .dijitTabChecked .dijitTabCloseButton {
background:url("../images/spriteRoundedIconsSmall.png") no-repeat scroll -92px 2px transparent;
}
body.mobile .appTabContainer .dijitTabCloseButton {
height:17px;
margin-left:15px;
width:15px;
}
body.mobile .appTabContainer .dijitTabCloseButton {
background:url("../images/spriteRoundedIconsSmall.png") no-repeat scroll -92px -43px transparent;
margin-top:0;
}
body.mobile .navigation-bar-tabs .dijitTab {
background:url("../images/navigationTabContainerSprite.png") no-repeat scroll 0 -90px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabInnerDiv {
background:url("../images/navigationTabContainerSprite.png") no-repeat scroll right -150px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabInnerDiv .dijitTabContent {
background:url("../images/navigationTabContainerSprite.png") repeat-x scroll 0 -120px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
background:url("../images/navigationTabContainerSprite.png") repeat-x scroll 0 -120px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabHover .dijitTabInnerDiv {
background:url("../images/navigationTabContainerSprite.png") no-repeat scroll right -150px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabChecked {
background:url("../images/navigationTabContainerSprite.png") no-repeat scroll 0 0 transparent;
}
body.mobile .navigation-bar-tabs .dijitTabChecked .dijitTabInnerDiv {
background:url("../images/navigationTabContainerSprite.png") no-repeat scroll right -60px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
background:url("../images/navigationTabContainerSprite.png") repeat-x scroll 0 -30px transparent;
}
body.mobile .navigation-bar-tabs .dijitTabInnerDiv .dijitTabContent {
padding:7px 3px 6px 0;
}
body.mobile .navigation-bar-tabs.dijitTabContainerTop .dijitTabListWrapper {
height:35px !important;
}
body.mobile .navigation-bar-tabs {
background:url("../images/navigation-tabs-background.png") repeat-x scroll 0 0 transparent;
height:41px !important;
}
body.mobile .navigation-tab-outer .content-area-container {
top:39px;
}
body.mobile .dijitTabStripIcon {
background:url("../images/spriteRoundedIconsSmall.png") no-repeat scroll left top transparent;
height:20px;
width:20px;
}
body.mobile .navigation-bar-tabs .tabStrip-disabled .tabStripButton .dijitTabContent {
padding:2px 0 3px;
}
body.mobile .dijitTabStripSlideRightIcon {
background-position:-44px top;
}
body.mobile .dijitTabStripMenuIcon {
background-position:-22px top;
}
body.mobile .dijitTabStripSlideLeftIcon {
background-position:left top;
}
body.mobile .tabStripButtonHover .dijitTabStripSlideRightIcon {
background-position:-44px -44px;
}
body.mobile .tabStripButtonHover .dijitTabStripMenuIcon {
background-position:-22px -44px;
}
body.mobile .tabStripButtonHover .dijitTabStripSlideLeftIcon {
background-position:left -44px;
}
body.mobile .tabStripButtonFocused .dijitTabStripSlideRightIcon {
background-position:-44px -44px;
}
body.mobile .tabStripButtonFocused .dijitTabStripMenuIcon {
background-position:-22px -44px;
}
body.mobile .tabStripButtonFocused .dijitTabStripSlideLeftIcon {
background-position:left -44px;
}
body.mobile .appTabContainer .navigation-bar-tabs .tabStripButton {
height:29px !important;
}
body.mobile .navigation-bar-tabs .tabStripButton .dijitTabInnerDiv {
background-position:right -60px;
}
body.mobile .navigation-bar-tabs .tabStripButton .dijitTabInnerDiv .dijitTabContent {
background-position:right -30px;
}
body.mobile div.cluster div.header-wrapper h3.collapse + span.grouptoggleArrow,
body.mobile div.cluster table td.field div.header-wrapper h3.collapse + span.grouptoggleArrow,
body.mobile div.list table td.field div.header-wrapper h3.collapse + span.grouptoggleArrow,
body.mobile div.list div.header-wrapper h3.collapse + span.grouptoggleArrow {
background:url("../images/context-panel-expanded.png") no-repeat scroll 0 0 transparent;
height:27px;
width:30px;
margin-right:0;
margin-top:-27px;
}
body.mobile div.details-cluster-wrapper div.cluster.is-collapsed div div.header-wrapper span.grouptoggleArrow,
body.mobile div.details-cluster-wrapper div.cluster div div.header-wrapper span.grouptoggleArrow {
margin:-30px 56px 0 0;
}
body.mobile div.cluster.init-collapsed.is-collapsed div.header-wrapper h3.collapse + .grouptoggleArrow,
body.mobile div.cluster.is-collapsed div.header-wrapper h3.collapse + .grouptoggleArrow,
body.mobile div.cluster.is-collapsed table td.field div.header-wrapper h3.collapse + .grouptoggleArrow,
body.mobile div.list.is-collapsed table td.field div.header-wrapper h3.collapse + .grouptoggleArrow,
body.mobile div.list.is-collapsed div.header-wrapper h3.collapse + .grouptoggleArrow,
body.mobile div.list.init-collapsed.is-collapsed div.header-wrapper h3.collapse + .grouptoggleArrow {
background:url("../images/context-panel-collapsed.png") no-repeat scroll 0 0 transparent;
margin-right:0;
margin-top:-31px;
height:30px;
width:30px;
}
body.mobile div.cluster div div.header-wrapper h3 {
height:17px;
}
body.mobile .detailsPanel-bc .detailsPanelTitleBar .detailsTitleArrowButton {
background-image:url("../images/context-panel-expanded.png");
height:30px;
margin-top:-4px;
width:30px;
}
body.mobile .detailsPanel-bc .detailsPanelTitleBar .detailsTitleArrowButton.collapsed {
background-image:url("../images/context-panel-collapsed.png");
height:30px;
margin-top:-4px;
width:30px;
}
body.mobile .tab-content-holder .detailsPanelTitleBar {
border-bottom-width:1px;
height:29px;
padding-bottom:2px;
}
body.mobile .detailsPanel-bc .dijitTitlePaneTitle {
background-color:#CBDDF3;
background-image:url("../images/details-title-background.png");
}
body.mobile .calendar .calendar-value a {
color:red !important;
}
body.mobile .detailsPanel-bc .detailsContentPane {
top:34px;
}
body.mobile .detailsPanel-bc .dijitTitlePaneTitle span.detailsTitleText {
padding-top:5px;
}
body.mobile .list table td a.list-details-row-toggle {
background-image:url("../images/list-row-collapsed.png");
background-position:center top;
padding:8px 13px 8px 14px;
}
body.mobile .list table td a.list-details-row-toggle.expanded {
background-image:url("../images/list-row-expanded.png");
background-position:center center;
padding:8px 13px 8px 14px;
}
body.mobile .list table td.list-details-row-toggle-cell {
padding-left:0px;
padding-top:20px;
padding-bottom:20px;
}
body.mobile .list table tr.even-last-row td.list-details-row-toggle-cell, body.mobile .list table tr.odd-last-row td.list-details-row-toggle-cell {
padding-left:1px !important;
}
body.mobile .shortcuts-panel.dojoxExpandoClosed .dojoxExpandoIconLeft {
background-image:url("../images/shortcutPanelExpandIcon.png") !important;
background-position:right center;
margin:0 0 0 0;
height:29px;
padding-left:0;
}
body.mobile .shortcuts-panel.dojoxExpandoClosed .dojoxExpandoIconLeft,
body.mobile .shortcuts-panel .dojoxExpandoIconLeft,
.mobile .dojoxExpandoClosed.dojoxExpandoLeft,
body.mobile .dojoxExpandoClosed.dojoxExpandoRight,
.mobile .dojoxExpandoClosed.dojoxExpandoLeft .dojoxExpandoTitle,
body.mobile .dojoxExpandoClosed.dojoxExpandoRight .dojoxExpandoTitle {
width:30px !important;
}
body.mobile .shortcuts-panel .dojoxExpandoIconLeft {
background-image:url("../images/shortcutPanelExpandIcon.png") !important;
background-position:left center;
height:29px;
margin:0 0 0 0;
}
body.mobile .shortcuts-panel .dojoxExpandoTitle {
height:29px;
padding:0px 0px 0px 0px;
background-image:url("../images/SP-expand-header.png") !important;
}
body.mobile .dojoxExpandoClosed .dojoxExpandoTitle {
height:29px;
padding:0px 0px 0px 0px;
background-image:url("../images/SP-header-footer.png") !important;
}
body.mobile .shortcuts-panel .dojoxExpandoTitleNode {
padding-bottom:7px;
padding-top:7px;
left:27px !important;
top:125px !important;
}
body.mobile .shortcuts-panel .dijitAccordionTitle,
body.mobile .shortcuts-panel .dijitAccordionTitle-last {
background:url("../images/shortcutPanel.png") repeat-x scroll 0 -182px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dijitAccordionTitle .dijitAccordionArrow {
background:url("../images/shortcutPanel.png") no-repeat scroll 0 -156px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dijitAccordionTitle img {
background:url("../images/shortcutPanel.png") no-repeat scroll 0 -208px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover,
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover.dijitAccordionTitle-last {
background:url("../images/shortcutPanel.png") repeat-x scroll 0 -104px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover span.dijitAccordionArrow,
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover.dijitAccordionTitle-last span.dijitAccordionArrow {
background:url("../images/shortcutPanel.png") no-repeat scroll 0 -78px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover img,
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleHover.dijitAccordionTitle-last img {
background:url("../images/shortcutPanel.png") no-repeat scroll 0 -130px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleSelected.dijitAccordionTitleHover.dijitAccordionTitle-last,
body.mobile .shortcuts-panel div.dijitAccordionTitleSelected.dijitAccordionTitleHover,
body.mobile .shortcuts-panel div.dijitAccordionTitleSelected.dijitSelected {
background:url("../images/shortcutPanel.png") repeat-x 0 -26px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleSelected.dijitAccordionTitleHover.dijitAccordionTitle-last span.dijitAccordionArrow,
body.mobile .shortcuts-panel div.dijitAccordionTitleSelected.dijitAccordionTitleHover span.dijitAccordionArrow,
body.mobile .shortcuts-panel .dijitAccordionTitleSelected span.dijitAccordionArrow {
background:url("../images/shortcutPanel.png") no-repeat scroll 0 0px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dojoxExpandoWrapper div.dijitAccordionTitleSelected.dijitAccordionTitleHover.dijitAccordionTitle-last img,
body.mobile .shortcuts-panel div.dijitAccordionTitleSelected.dijitAccordionTitleHover img,
body.mobile .shortcuts-panel div.dijitAccordionTitleSelected img {
background:url("../images/shortcutPanel.png") no-repeat scroll 0 -52px;
padding-bottom:5px;
}
body.mobile .shortcuts-panel .dijitAccordionTitle .dijitAccordionText {
padding-top:4px;
}
body.mobile .dijitAccordionContainer .curamContentPaneSingleChild li {
padding-bottom:6px;
padding-top:6px;
}
body.mobile .outer-navigation-tab .smart-panel .dojoxExpandoTitle {
background:url("../images/SP-expand-header.png") repeat-x scroll 0 0 transparent !important;
height:29px !important;
padding:0px 0px 0px 0px;
}
body.mobile .outer-navigation-tab .dojoxExpandoClosed .dojoxExpandoTitle {
background:url("../images/SP-header-footer.png") repeat-y scroll 0 0 transparent !important;
height:29px !important;
padding:0px 0px 0px 0px;
width:30px;
background-color:#CADDF3;
}
body.mobile .outer-navigation-tab .dojoxExpandoClosed .dojoxExpandoIconRight {
background-image:url("../images/shortcutPanelExpandIcon.png") !important;
background-position:left center;
height:29px;
margin:0 0 0 0;
width:30px;
}
body.mobile .smart-panel .dojoxExpandoIconRight {
background-image:url("../images/shortcutPanelExpandIcon.png") !important;
background-position:right center;
margin:0 0 0 0;
height:29px;
width:30px;
padding-left:0;
}
body.mobile .smart-panel .dojoxExpandoContent{
top:30px !important;
}
body.mobile .smart-panel .dojoxExpandoTitleNode {
padding-top:9px;
}
body.mobile .dojoxExpandoClosed.dojoxExpandoRight .dojoxExpandoTitle span.dojoxExpandoTitleNode {
left:8px;
}
body.mobile .appTabContainer .tabStrip-disabled .tabStripButton .dijitTabContent .dijitButtonContents {
height:25px;
background-position:right -30px;
}
body.mobile .appTabContainer.dijitTabContainer .dijitAlignTop .tabStripButton {
bottom:11px;
height:19px;
left:0;
padding-bottom:11px;
position:absolute;
top:0;
width:48px;
}
body.mobile .appTabContainer .tabStripButton .dijitTabInnerDiv {
background-position:right -60px;
height:30px !important;
padding-right:4px;
width:41px;
}
body.mobile .appTabContainer .dijitAlignTop .tabStripButton-top .dijitTabInnerDiv .dijitTabContent {
background-position:right -30px;
}
body.mobile .dijitTabStripIcon{
height:25px;
margin-left:10px;
margin-top:2px;
}
body.mobile .dijitMenuItem TD {
padding:3px 1px 2px;
}
body.mobile table.expand-list-control tr.dijitMenuItemSelected td.dijitMenuItemLabel {
background:url("../images/expand-list-action-item-hover.png");
background-position:0px 0px;
padding-bottom:4px;
padding-top:4px;
}
body.mobile table.expand-list-control tr.dijitMenuItemSelected .dijitMenuArrowCell {
border-bottom:medium none;
height:18px;
background-position:-3px 0px;
padding-top:1px;
width:8px !important;
background:url("../images/expand-list-action-item-hover-corners.png");
}
body.mobile table.expand-list-control .dijitMenuItem td.dijitMenuItemLabel {
padding-bottom:4px;
padding-top:4px;
}
body.mobile table.expand-list-control .dijitMenuItemSelected .dijitReset {
background:url("../images/expand-list-action-item-hover-corners.png");
background-position:0px 0px;
margin-top:1px;
}
body.mobile table.expand-list-control tr.dijitMenuItemSelected .dijitMenuArrowCell {
background-position:-2px 0px;
}
body.mobile .detailsPanelTitleBar .dijitLeft {
background:url("../images/applicationTabActionsMenu.png") right -52px no-repeat;
height:26px;
}
body.mobile .detailsPanelTitleBar .dijit.dijitDropDownButtonHover .dijitButtonNode,
body.mobile .detailsPanelTitleBar .dijit.dijitDropDownButton.dijitDropDownButtonHoverFocused .dijitButtonNode {
background:url("../images/applicationTabActionsMenu.png") 0 -78px no-repeat;
height:26px;
}
body.mobile .detailsPanelTitleBar .dijit.dijitDropDownButtonHover .dijitButtonNode,
body.mobile .detailsPanelTitleBar .dijit.dijitDropDownButton.dijitDropDownButtonHoverFocused .dijitButtonNode {
background:url("../images/applicationTabActionsMenu.png") 0 -78px no-repeat;
height:26px;
}
body.mobile .detailsPanelTitleBar .dijitDropDownButtonHover .dijitButtonText,
body.mobile .detailsPanelTitleBar .dijitDropDownButton.dijitDropDownButtonHoverFocused .dijitButtonText {
background:url("../images/applicationTabActionsMenu.png") 0 -104px repeat;
height:17px;
padding-top:6px;
}
body.mobile .detailsPanelTitleBar .dijitDropDownButtonHover.dijitLeft,
body.mobile .detailsPanelTitleBar .dijitDropDownButton.dijitDropDownButtonHoverFocused.dijitLeft {
background:url("../images/applicationTabActionsMenu.png") right -130px no-repeat;
height:26px;
}
body.mobile .detailsPanelTitleBar .dijitDropDownButtonActive .dijitButtonNode {
background:url("../images/applicationTabActionsMenu.png") 0 -156px no-repeat;
height:26px;
}
body.mobile .detailsPanelTitleBar .dijitDropDownButtonActive .dijitButtonText {
background:url("../images/applicationTabActionsMenu.png") 0px -182px repeat;
height:17px;
padding-top:6px;
}
body.mobile .detailsPanelTitleBar .dijitDropDownButtonActive.dijitLeft {
background:url("../images/applicationTabActionsMenu.png") right -208px no-repeat;
height:26px;;
}
body.mobile .detailsPanelTitleBar .dijitButtonNode {
background:url("../images/applicationTabActionsMenu.png") 0 0px no-repeat;
height:26px;
padding-right:10px;
margin-right:2px;
}
body.mobile .detailsPanelTitleBar .dijitButtonText {
background:url("../images/applicationTabActionsMenu.png") 0px -26px repeat;
height:17px;
padding-top:6px;
}
body.mobile .dijitContainer div.no-details-panel {
top:34px !important;
}
body.mobile .detailsPanel-bc .dijitTitlePaneTitle{
padding-top:3px;
padding-bottom:1px;
}
body.mobile .tab-content-holder .summaryPane {
height:35px;
}
body.mobile .navigation-tab .child-nav li {
background-image:url("../images/side-nav-nor.png");
height:15px;
}
body.mobile .navigation-tab .child-nav li.selected {
background-image:url("../images/side-nav-sel.png");
height:15px;
}
body.mobile .child-nav-items .hover {
text-decoration:none;
}
body.mobile .navigation-tab .child-nav li div {
padding-top:1px;
}
body.mobile .navigation-tab .child-nav li.visible.disabled {
background:url("../images/side-nav-disabled.png");
padding-top:6px;
}
body.mobile .child-nav-items ul {
margin-top:36px;
}
body.mobile .navigation-tab-outer .navigation-tab div.child-nav {
bottom:0;
top:39px;
}
body.mobile div#app-root-container-dc #app-sections-container-dc {
top:57px;
}
body.mobile #app-banner-dc {
height:auto;
}
body.mobile div.application-search {
width:371px;
margin-top:8px;
margin-right:20px;
height:auto;
}
body.mobile div.application-search div.search-input-controls.codetable .dijitTextBox {
height:21px;
margin:0px;
width:180px;
}
body.mobile .search-input-controls div.dijitInputField {
padding:0px;
height:21px;
}
body.mobile div.application-search span.dijitPlaceHolder.dijitInputField {
padding-left:5px;
padding-top:4px;
}
body.mobile div.application-search div.search-input-controls div.dijitReset.dijitInputField.dijitInputContainer input {
height:21px;
}
body.mobile div.application-search div.search-input-controls.no-dropdown-controls div.dijitReset.dijitInputField.dijitInputContainer {
padding-left:4px;
}
body.mobile .search-input-controls span.dijitInputField {
height:16px;
}
body.mobile div.search-input-controls.no-dropdown-controls .dijitInline{
margin-right:0px;
}
body.mobile a.application-search-anchor {
height:22px;
width:21px;
background:url("../images/application-search-icon.png") no-repeat scroll 0 0;
margin-left:10px;
}
body.mobile .application-search .search-options a {
display:block;
height:13px;
overflow:hidden;
}
body.mobile a.application-search-anchor:active {
background:url("../images/application-search-click.png") no-repeat scroll 0 0;
}
body.mobile a.application-search-anchor:hover {
background:url("../images/application-search-click.png") no-repeat scroll 0 0;
}
body.mobile .search-options {
margin-right:5px;
}
body.mobile .application-search .search-input-controls {
margin-bottom:8px;
height:23px;
}
body.mobile .application-search .search-input-controls select {
height:23px;
float:left;
margin:0px 0px 0px 10px;
width:150px;
line-height:21px;
}
body.mobile #app-sections-container-dc_tablist .dijitTab.block-slope {
background:url("../images/application-tabs-slope.png") no-repeat 0px 0px;
height:32px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabInnerDiv {
background:url("../images/sectionTabContainerSprite.png") no-repeat;
background-position:right -256px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabHover .dijitTabInnerDiv {
background:url("../images/sectionTabContainerSprite.png") no-repeat right -160px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabInnerDiv .dijitTabContent {
background:url("../images/sectionTabContainerSprite.png") repeat-x 0 -224px;
padding:8px 3px 9px 8px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
background:url("../images/sectionTabContainerSprite.png") repeat-x 0 -128px;
}
body.mobile #app-sections-container-dc_tablist > div {
height:32px !important;
}
body.mobile #app-sections-container-dc_tablist .dijitTab {
background:url("../images/sectionTabContainerSprite.png") no-repeat 0 -224px;
}
body.mobile #app-sections-container-dc_tablist .dijitTab.dijitTabHover {
background:url("../images/sectionTabContainerSprite.png") no-repeat 0 -128px;
}
body.mobile #app-sections-container-dc_tablist .dijitTab.dijitTabHover.dijitTabChecked.first,
body.mobile #app-sections-container-dc_tablist .dijitTab.dijitTabChecked.first {
background:url("../images/sectionTabContainerSprite.png") no-repeat 0 0px;
}
body.mobile #app-sections-container-dc_tablist .dijitTab.dijitTabChecked {
background:url("../images/sectionTabContainerSprite.png") no-repeat 0 -32px;
}
body.mobile #app-sections-container-dc_tablist .dijitTab.first {
background:url("../images/sectionTabContainerSprite.png") no-repeat 0 -192px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabHover.dijitTab.first {
background:url("../images/sectionTabContainerSprite.png") no-repeat 0 -96px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabChecked .dijitTabInnerDiv {
background:url("../images/sectionTabContainerSprite.png") no-repeat right -32px;
}
body.mobile #app-sections-container-dc_tablist .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
padding:8px 3px 9px 8px;
background:url("../images/sectionTabContainerSprite.png") repeat-x 0 -32px;
}
body.mobile .list table td.list-details-row-toggle-cell {
padding:10px 0px;
}
body.mobile div.list table td {
padding:10px;
}
body.mobile span.popup-actions {
padding-left:10px;
}
body.mobile .popup-field .popup-actions img {
padding:0px 10px 0px 10px;
}
body.mobile .popup-actions img {
padding:0px 0px 0px 3px;
}

