
#inner_body .container {
    padding: 0px;
}

#inner_body  .row {
    margin-left: 0;
    margin-right: 0;
}

#inner_body .container .heading_img {
    width: 100%;
}

.open_enrollment {
    display: none;
}

#inner_body .inner_content {
}

#inner_body h1 {
    color: #555;
    color: #003260;
    font-size: 29px;
    font-weight: 300;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
}

#inner_body h1.page-header {
    margin: 40px 0 20px;
    padding-bottom: 9px;
    border-bottom: medium none;
    color: #003260;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.green_steps {
    display: table;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    margin: 30px 0px 0px;
    width: 100%;
}

.green_steps .step {
    position: relative;
    display: table-cell;
    padding: 0px 0px 0px;
    width: 25%;
}

.green_steps .step .top {
    background: url(../img/icon/checkbox-green.png) no-repeat 14px 3px;
    min-height: 30px;
    padding: 3px 0px 10px 0px;
}

.individual .step_1 {
/*     display: none; */
}

.individual .step_1 .top {
    background-image: url(../img/icon/checkbox-green.png);
}

.smallbusiness_calc .step_2 .top,
.smallbusiness .step_2 .label_left,
.employee .step_2 .top,
.individual .step_2 .top {
    background-image: url(../img/icon/clipboard-green.png);
}

.smallbusiness_calc .step_3 .top,
.smallbusiness .step_3 .label_left,
.employee .step_3 .top,
.individual .step_3 .top {
    background-image: url(../img/icon/shop-green.png);
    background-position: 14px 2px;
}

.smallbusiness_calc .step_4 .top,
.smallbusiness .step_4 .label_left,
.employee .step_4 .top,
.individual .step_4 .top {
    background-image: url(../img/icon/mouse-click-green.png);
    background-position: 14px 0px;
}

.green_steps .label_top {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 0px 0px 50px;
}

.green_steps .label_bot {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #555;
    padding: 0px 0px 0px 0px;
}

.individual .step_1 .label_top,
.individual .step_1 .label_bot {
    padding-left: 50px;
}

.employee .step_2 .label_top,
.employee .step_2 .label_bot,
.individual .step_2 .label_top,
.individual .step_2 .label_bot {
    padding-left: 58px;
}

.employee .step_3 .label_top,
.employee .step_3 .label_bot,
.individual .step_3 .label_top,
.individual .step_3 .label_bot {
    padding-left: 62px;
}

.employee .step_4 .label_top,
.employee .step_4 .label_bot,
.individual .step_4 .label_top,
.individual .step_4 .label_bot {
    padding-left: 62px;
}

.broker .step_2 .top {
    background-image: url(../img/icon/checkbox-green.png);
}
.broker .step_2 .top .label_top,
.broker .step_2 .top .label_bot {
    padding-left: 52px;
}

.broker .step_3 .top {
    background-image: url(../img/icon/shop-green.png);
}
.broker .step_3 .top .label_top,
.broker .step_3 .top .label_bot {
    padding-left: 60px;
}

.broker .step_4 .top {
    background-image: url(../img/icon/mouse-click-green.png);
}
.broker .step_4 .top .label_top,
.broker .step_4 .top .label_bot {
    padding-left: 64px;
}


/* smallbusiness */
.bottom_slam {
    padding-bottom: 0px;
}

.smallbusiness {
    margin: 22px 5% 0px;
    padding: 6px 0 0;
    border-top: 2px solid #dedede;
    overflow: hidden;
}

.smallbusiness .stacked_green_steps,
.smallbusiness .right_blurb {
    float: left;
    width: 46%;
}

.smallbusiness .stacked_green_steps {
    margin-right: 4%;
    margin-top: 6px;
}

.smallbusiness .right_blurb {
    margin-left: 4%;
}

.smallbusiness .step {
    border-bottom: 1px solid #dedede;
    padding: 14px 0 14px 10px;
    overflow: hidden;
}

.smallbusiness .step:nth-last-child(1) {
    border-bottom: none;
}

.smallbusiness .step .label_left {
    float: left;
    width: 90%;
    font-size: 15px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 2px 2px;
    padding-left: 40px;
    min-height: 30px;
}

.smallbusiness .step .label_left span {
    font-weight: 700;
    text-transform: none;
    padding-left: 4px;
}

.smallbusiness .step .help_right {
    /*float: left;
    width: 10%;*/
    float: right;
}

.smallbusiness .step .help_right img {
    float: right;
    position: relative;
    top: 2px;
    right: 2px;
}

.smallbusiness .right_blurb p {
    font-size: 19px;
    padding: 14px 0 0;
}

.smallbusiness .right_blurb p a {
    font-weight: 600;
}

.smallbusiness .right_blurb img {
    float: right;
}

/* smallbusiness_calc */
.smallbusiness_calc .top .label_top,
.smallbusiness_calc .top .label_bot {
    padding: 0px 0px 0px 65px;
}




.green_steps .bar {
    height: 9px;
    overflow: hidden;
    background: url(../img/icon/progress-green-on.png) no-repeat 0px 0px;
    background-size: 100% 9px;
}

.green_steps .bar.off {
    background-image: url(../img/icon/progress-green-off.png);
}

.green_steps p {
    padding: 14px 12px 14px 12px;
}

.outlined {
    margin: 0px 4px;
    min-height: 20px;
    overflow: hidden;
    border: 1px solid #ebebeb;
    border-bottom: none;
    border-radius: 3px;
    padding: 18px 26px;
    font-size: 15px;
}

.outlined .halfcol {
    width: 50%;
    float: left;
}

.outlined:nth-child(1) {
    margin-top: 26px;
}

.outlined:nth-last-child(1) {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 4px;
}

.outlined .yes_item {
    display: table;
    margin: 9px 0;
}

.outlined .control {
    padding: 0px 12px 0px 0px;
    display: table-cell;
}

.outlined .question {
    display: table-cell;
    vertical-align: middle;
}

.outlined .button_thingy {
    border: 1px solid #007BC4;
    padding: 0px 6px;
    text-transform: uppercase;
    float: left;
    color: #007BC4;
    font-weight: 700;
    cursor: pointer;
}
.outlined .button_thingy.on {
    background: #007BC4;
    color: #fff;
}
.outlined .button_thingy.off:hover {
    color: #014A93;
    border-color: #014A93;
}



.threeup_button_panel {
    overflow: hidden;
    margin: 34px 0 12px;
}

.tbp_box {
    width: 33%;
    float: left;
    overflow: hidden;
    text-align: center;
    padding: 14px 20px;
    border-right: 1px solid #dedede;
}
.tbp_box:nth-last-child(1) {
    border-right: none;
}

.tbp_box .top,
.tbp_box .bot {
}

.tbp_box .top {
    margin-bottom: 40px;
}

.tbp_box h3 {
    margin-top: 0px;
    margin-bottom: 12px;
    padding-top: 62px;
    font-weight: 600;
    font-size: 18px;
}

.browse_plans h3 {
    background: url(../img/icon/search-lg-blue.png) no-repeat center 0px;
}

.email_notification h3 {
    background: url(../img/icon/email-notification.png) no-repeat center 5px;
}

.medicaid_chip h3 {
    background: url(../img/icon/stethoscope-dollars.png) no-repeat center 0px;
}




/* customize your estimate (page: smallbusiness-calc-ballpark) */
.customize_your_estimate {
    margin-top: 24px;
}

.customize_your_estimate h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 22px;
}

.customize_your_estimate p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .03px;
}

.customize_your_estimate ul {
    font-size: 13px;
    padding-right: 26px;
}

.customize_your_estimate li {
    line-height: 17px;
}









.button_bar {
    background: #d6d6d6;
    border-top: 5px solid #cacaca;
    text-align: center;
    position: relative;
}

.button_bar .btn {
    margin: 16px 8px 19px;
    min-width: 160px;
}

.button_bar .checkbook {
    display: none;
    left: 24px;
    position: absolute;
    top: 20px;
    color: #007bc4;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    width: 290px;
    text-align: left;
}

.button_bar .checkbook div {
    float: left;
    width: 166px;
}

.button_bar .checkbook img {
    float: right;
    margin-top: 4px;
}



.button_bar .get_help {
    font-size: 26px;
    margin: 15px 32px 11px 0px;
    color: #333;
}

.button_bar .get_help img {
    left: -10px;
    position: relative;
    top: -4px;
}

.button_bar .get_help_p {
    font-size: 18px;
    padding: 0px 0px 26px;
    margin: 0px;
    color: #333;
}





/* ----- options page ----- */
.tax-credit-value {
    color: #003260;
}

.outlined .content-area {
    padding-left: 13%;
    padding-right: 13%;
}
/* ----- over options page ----- */

@media (max-width: 700px) {
    .green_steps,
    .green_steps .step {
        display: block;
        width: auto;
        padding: 0px 0px 12px;
    }

    .green_steps .step .top {
        padding-bottom: 0px;
        background-position: 0px 0px;
    }

    .step .label_top, .step .label_bot {
        padding-left: 62px !important;
    }

    .green_steps .bar {
        display: none;
    }

    .step p {
        padding: 4px 0 14px;
    }

    .outlined .halfcol {
        width: auto;
    }
    
    
    .tbp_box {
        border-right: none;
        border-bottom: 1px solid #DEDEDE;
        float: left;
        padding: 14px 0px;
        text-align: left;
        width: 100%;
    }    
    
    .tbp_box:nth-last-child(1) {
        border-bottom: none;
    }    
    
    .tbp_box .top {
        margin-bottom: 18px;
    }    
    
    .tbp_box h3 {
        background-position: left 0px;
    }    
    
}

@media (max-width: 800px) {
    .button_bar {
        background: none;
        overflow: hidden;
        padding: 0px 0px 0px 20px;
    }
    
    .button_bar .checkbook {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
    }
    
    .button_bar .checkbook div {
        float: none;
        width: 100%;
        font-size: 13px;
    }

    .button_bar .checkbook img {
        float: none;
        margin: 14px 0px;
    }

    #under_body .mid_links {
        display: block;
        margin: 0;
    }

    #under_body .mid_links .item {
        display: block;
        background-position: left 14px;
        padding: 10px 0px 10px 50px;
        text-align: left;
        line-height: 40px;
        border-right: none;
    }
        
    .smallbusiness .stacked_green_steps, .smallbusiness .right_blurb {
        float: none;
        width: 100%;
    }    
}

@media (max-width: 1000px) {
    .threeup_button_panel .btn-red {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 11px;
        text-transform: none;
    }

}

